<div role="main">
  <div class="main hero" style="background-image: url('/base/images/Banner-1.jpg');">
    <div class="container prosearch">
      <div class="row row1">
        <div class="col-md-6 col1">
          {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
          {% endblock %}
        </div>
        <div class="col-md-6 col2">
          {% block search %}
          {% snippet 'home/snippets/search.html' %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="prosearch"></div>
    <div class="container">
      <div class="row row2">
        {% block featured_organization %}
        {% snippet 'home/snippets/featured_organization.html' %}
        {% endblock %}
      </div>
    </div>

  </div>
</div>

</div>