{% set intro = g.site_intro_text %}

<div class="module-content">
  <div class="fl-col-content fl-node-content">
    <div class="fl-module fl-module-heading fl-node-5b1887f949187 home-top-block-headline" data-node="5b1887f949187">
      <div class="fl-module-content fl-node-content">
        <h1 class="fl-heading">
          <span class="fl-heading-text">
            <h1 class="page-heading">{{ _("Welcome to MinEx CRC") }}</h1>
          </span>
        </h1>
      </div>
    </div>
    <div class="fl-module fl-module-rich-text fl-node-5b1888a705f63 home-top-block-content" data-node="5b1888a705f63">
      <div class="fl-module-content fl-node-content">
        <div class="fl-rich-text">
          <p>Stay up to date with all the latest MinEx CRC<br>
            dataset updates.</p>
        </div>
      </div>
    </div>
  </div>
</div>